body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.s-card {
  margin: 10px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: #fcc;
  color: #000;
  box-sizing: content-box;
  content: initial;
  box-shadow: 0px, 0px, 3px, 1px;
  text-align: center;
}

.s-card-image {
  border-radius: 10px;
  width: inherit;
  height: inherit;
  box-shadow: 0px, 0px, 3px, 1px;
}
.header {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.body {
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-grow: inherit;
  background: repeating-radial-gradient(
    purple,
    navy,
    purple,
    purple,
    navy,
    navy,
    black
  );
}

.rows {
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-grow: inherit;
  background: border-box;
}

.opening-page {
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(midnightblue, purple, midnightblue);
}

.input-box {
  position: fixed;
  width: 1200px;
  height: 800px;
  left: 25%;
  top: 12.5%;
  border-radius: 15px;
  text-align: center;
  align-content: center;
  vertical-align: 20%;
  background-color: gray;
}
